<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
    "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
    "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">
<!--
   * Copyright 2015 Roland Gisler, HSLU T&A, Switzerland.
   *
   * Licensed under the Apache License, Version 2.0 (the "License");
   * you may not use this file except in compliance with the License.
   * You may obtain a copy of the License at
   *
   * http://www.apache.org/licenses/LICENSE-2.0
   *
   * Unless required by applicable law or agreed to in writing, software
   * distributed under the License is distributed on an "AS IS" BASIS,
   * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   * See the License for the specific language governing permissions and
   * limitations under the License.
-->
<module type="Checker">

   <!-- Checks whether files end with a new line. -->
   <!-- See http://checkstyle.sf.net/config_misc.html#NewlineAtEndOfFile -->
   <!-- module type="NewlineAtEndOfFile"/ -->

   <!-- Checks that property files contain the same keys. -->
   <!-- See http://checkstyle.sf.net/config_misc.html#Translation -->
   <module type="Translation" />

   <!-- Checks for Size Violations. -->
   <!-- See http://checkstyle.sf.net/config_sizes.html -->
   <module type="FileLength" />

   <!-- Checks for whitespace -->
   <!-- See http://checkstyle.sf.net/config_whitespace.html -->
   <module type="FileTabCharacter" />

   <!-- Miscellaneous other checks. -->
   <!-- See http://checkstyle.sf.net/config_misc.html -->
   <module type="RegexpSingleline">
      <property type="format" value="\s+$" />
      <property type="minimum" value="0" />
      <property type="maximum" value="0" />
      <property type="message" value="Line has trailing spaces." />
   </module>

   <!-- Allows suppressing of checks -->
   <module type="SuppressWarningsFilter" />

   <module type="TreeWalker">

      <!-- Checks for Javadoc comments. -->
      <!-- See http://checkstyle.sf.net/config_javadoc.html -->
      <module type="JavadocMethod" />
      <module type="JavadocType" />
      <module type="JavadocVariable">
         <property type="excludeScope" value="private" />
      </module>
      <module type="JavadocStyle" />

      <!-- Checks for Naming Conventions. -->
      <!-- See http://checkstyle.sf.net/config_naming.html -->
      <module type="ConstantName" />
      <module type="LocalFinalVariableName" />
      <module type="LocalVariableName" />
      <module type="MemberName" />
      <module type="MethodName" />
      <module type="PackageName" />
      <module type="ParameterName" />
      <module type="StaticVariableName" />
      <module type="TypeName" />

      <!-- Checks for imports -->
      <!-- See http://checkstyle.sf.net/config_import.html -->
      <module type="AvoidStarImport" />
      <module type="IllegalImport" /> <!-- defaults to sun.* packages -->
      <module type="RedundantImport" />
      <module type="UnusedImports" />

      <!-- Checks for Size Violations. -->
      <!-- See http://checkstyle.sf.net/config_sizes.html -->
      <module type="LineLength">
         <property type="max" value="120" />
      </module>
      <module type="MethodLength" />
      <module type="ParameterNumber" />

      <!-- Checks for whitespace -->
      <!-- See http://checkstyle.sf.net/config_whitespace.html -->
      <module type="EmptyForIteratorPad" />
      <module type="GenericWhitespace" />
      <module type="MethodParamPad" />
      <module type="NoWhitespaceAfter" />
      <module type="NoWhitespaceBefore" />
      <module type="OperatorWrap" />
      <module type="ParenPad" />
      <module type="TypecastParenPad" />
      <module type="WhitespaceAfter" />
      <module type="WhitespaceAround" />

      <!-- Modifier Checks -->
      <!-- See http://checkstyle.sf.net/config_modifiers.html -->
      <module type="ModifierOrder" />
      <module type="RedundantModifier" />

      <!-- Checks for blocks. You know, those {}'s -->
      <!-- See http://checkstyle.sf.net/config_blocks.html -->
      <module type="AvoidNestedBlocks" />
      <module type="EmptyBlock" />
      <!-- <module type="EmptyCatchBlock" />  Läuft mit Maven nicht... -->
      <module type="LeftCurly" />
      <module type="NeedBraces" />
      <module type="RightCurly" />

      <!-- Checks for common coding problems -->
      <!-- See http://checkstyle.sf.net/config_coding.html -->
      <module type="AvoidInlineConditionals" />
      <module type="EmptyStatement" />
      <module type="EqualsHashCode" />
      <module type="HiddenField">
         <property type="ignoreConstructorParameter" value="true" />
         <property type="ignoreSetter" value="true" />
      </module>
      <module type="IllegalInstantiation" />
      <module type="InnerAssignment" />
      <module type="MissingSwitchDefault" />
      <module type="OneStatementPerLine" />
      <module type="SimplifyBooleanExpression" />
      <module type="SimplifyBooleanReturn" />

      <!-- Checks for class design -->
      <!-- See http://checkstyle.sf.net/config_design.html -->
      <module type="DesignForExtension" />
      <module type="FinalClass" />
      <module type="HideUtilityClassConstructor" />
      <module type="InterfaceIsType" />
      <module type="VisibilityModifier" />

      <!-- Miscellaneous other checks. -->
      <!-- See http://checkstyle.sf.net/config_misc.html -->
      <module type="ArrayTypeStyle" />
      <module type="FinalParameters" />
      <module type="TodoComment" />
      <module type="UpperEll" />

      <!-- Allow suppressing of checks with annotations -->
      <module type="SuppressWarningsHolder" />
      <module type="AnnotationLocation" />
      <module type="AnnotationUseStyle" />
   </module>
</module>